.DS_Store
notes.txt
Sakefile
build/
*.pyc
dependencies.png
.shastore
MANIFEST
dist/
duistats.tsv
teenstats.csv
teenstats.xls
test/Rplots.pdf
test/lmcoeffs.txt
test/dependencies.svg
sake-doc.aux
sake-doc.cp
sake-doc.fn
sake-doc.ky
sake-doc.log
sake-doc.pg
sake-doc.toc
sake-doc.tp
sake-doc.vr
